name: Daily Telegram Counter

on:
  schedule:
    - cron: "*/1 * * * *"   # هر روز ساعت 8:00 تهران (UTC 4:30)
  workflow_dispatch:       # امکان اجرای دستی برای تست

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python main.py
        env:
          TOKEN: ${{ secrets.TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
